:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --hero-text-color: #ffffff;
    --accent-color: #2196f3;
    --button-back-color: #F5F4FA;
    --background-color: #FFFFFF;
    --background-footer-hero:#2F303A;
    --footer-color: rgba(255,255,255,0.6);
    --card-set-gap: 30px;
    --fillicon: #AFB1B8;
    --technokryaktext: rgba(255,255,255,1);
    --vardelay: cubic-bezier(0.4, 0, 0.2, 1);
    --gridgap: 30px;

    
   }