.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms var(--vardelay), fill 250ms var(--vardelay);

&:hover .clients-list__icon,
&:focus .clients-list__icon
{
    fill: var(--accent-color);
   }
&:hover{
    border: 1px solid var(--accent-color);
   }
}
.clients__title{
    margin-bottom: 50px;
    text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
}
.clients-list__icon {
        fill: var(--fillicon);
        transition: border 250ms var(--vardelay), fill 250ms var(--vardelay);
}

.clients-list {
    display: flex;
    justify-content: space-between;
}
